
@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'codropsicons';
	src:url('file:///D|/AZR/serverApp/public/fonts/codropsicons/codropsicons.eot');
	src:url('file:///D|/AZR/serverApp/public/fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
url('file:///D|/AZR/serverApp/public/fonts/codropsicons/codropsicons.woff') format('woff'),
url('file:///D|/AZR/serverApp/public/fonts/codropsicons/codropsicons.ttf') format('truetype'),
url('file:///D|/AZR/serverApp/public/fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
}

*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

body {
	background: linear-gradient(to right, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 0%, rgba(209,209,209,1) 100%, rgba(254,254,254,1) 100%);
	font-family: 'Raleway', Arial, sans-serif;
}

.container {
	margin: 0 auto;
	text-align: center;
	overflow: hidden;
}
.content {
	font-size: 150%;
	padding: 3em 0;
}

.content p {
	margin: 1em 0;
	padding: 5em 0 0 0;
	font-size: 0.10em;
}
.bgcolor-1 { background: #f0efee; width:auto;}


/*.codrops-links::after {
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -1px;
	width: 2px;
	height: 100%;
	background: #dbdbdb;
	content: '';
	-webkit-transform: rotate3d(0,0,1,22.5deg);
	transform: rotate3d(0,0,1,22.5deg);
}
.codrops-icon:before {
	margin: 0 5px;
	text-transform: none;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	font-family: 'codropsicons';
	line-height: 1;
	speak: none;
	-webkit-font-smoothing: antialiased;
}*/
/* Related demos */
/*.content--related {
	text-align: center;
	color: #D8DADB;
	font-weight: bold;
}*/
/*
.media-item {
	display: inline-block;
	padding: 1em;
	vertical-align: top;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
}

.media-item__img {
	opacity: 0.8;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.media-item:hover .media-item__img,
.media-item:focus .media-item__img {
	opacity: 1;
}*/

.media-item__title {
	font-size: 0.75em;
	margin: 0;
	padding: 0.5em;
}

@media screen and (max-width: 50em) {
	.codrops-header {
		padding: 3em 10% 4em;
	}
}

@media screen and (max-width: 40em) {

}
