
@font-face {
	font-weight: normal;
	font-style: normal;
	src:url('file:///D|/AZR/serverApp/public/fonts/codropsicons/codropsicons.eot');
	src:url('file:///D|/AZR/serverApp/public/fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
url('file:///D|/AZR/serverApp/public/fonts/codropsicons/codropsicons.woff') format('woff'),
url('file:///D|/AZR/serverApp/public/fonts/codropsicons/codropsicons.ttf') format('truetype'), format('svg');
}

*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

body {
	background: linear-gradient(to right, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 0%, rgba(209,209,209,1) 100%, rgba(254,254,254,1) 100%);
	font-family: 'Raleway', Arial, sans-serif;
}

.container {
	margin: 0 auto;
	text-align: center;
	overflow: hidden;
}
.content {
	font-size: 150%;
	padding: 3em 0;
}

.content p {
	margin: 1em 0;
	padding: 5em 0 0 0;
	font-size: 0.10em;
}
.bgcolor-1 { background: #f0efee; width:auto;}

.media-item__title {
	font-size: 0.75em;
	margin: 0;
	padding: 0.5em;
}
